@import url('https://fonts.googleapis.com/css?family=Inter:700|Lexend:400'); /* Install this font locally*/

@media (prefers-color-scheme: light) 
{
  :root {
    --text: #000000;
    --background: #ebebeb;
    --primary: #7f31d8;
    --secondary: #0e0024;
    --accent: #4400c2;
    --widget-background: #dddddd;
    --widget-primary: #7f31d8;
    --widget-accent: #813dff;
    --widget-light-gray: #666666;
    --widget-gray: #353535;
    --widget-dark-gray: #141416;
    --widget-text: #000000;
    --widget-secondary-background: #d1d1d1;
    --widget-secondary-text: #2b2b2b;
    --widget-secondary: #dbdbdb;
  }
}
@media (prefers-color-scheme: dark) 
{
  :root {
    --text: #ffffff;
    --background: #141414;
    --primary: #7527ce;
    --secondary: #c19aff;
    --accent: #813dff;
    --widget-accent: #813dff;
    --widget-background: #1e1e21;
    --widget-primary: #7f31d8;
    --widget-light-gray: #b9b9b9;
    --widget-gray: #777777;
    --widget-dark-gray: #2e2e32;
    --widget-text: #ffffff;
    --widget-secondary-background: #141416;
    --widget-secondary-text: #dbdbdb;
    --widget-secondary: #777777;
  }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h6
{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

h6 {font-size: 1.155rem; /* 18.48px */}

small {font-size: 0.750rem; /* 12px */}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.widgetTextFill
{
  fill: var(--widget-text);
}